<div class="cards-container" (click)="checkOutside($event)">
  <table id="users" class="user_table">
    <tr *ngFor="let user of users" class="row-padded" (click)="openModal('modal', user)">
      <td> <img (error)="alertError($event)" [src]="user.avatar" alt="user-avatar" class="img-card"/> </td>
      <td class="user-info">
        <span>{{getFIO(user)}}</span>
      </td>
      <td class="user-info balance-padding">
        {{ getBalance(user.balance | number:'1.2-2') }}
      </td>
      <td class="user-info last-update">
        Последние изменение: {{ getTime(user)}}
      </td>
      <td class="dropdown">
        <div class="dropdown-select" (click)="switchChannel($event)">
          <span class="select" [textContent]="statuses[user.status]"></span>
          <img src="assets/img/caret-down.svg" alt="arrow-img"/>
        </div>
        <ul class="dropdown-list">
          <li *ngFor="let status of statuses; let i = index" class="dropdown-list-item"
              [ngStyle]="{'color' : i === user.status ? '#1A051D' : '#D0C9D6'}">{{ status }}</li>
        </ul>
      </td>
    </tr>
  </table>
</div>


<app-modal id="modal">
  <div modal-header>
    <h1>{{users[userId].fname}} {{users[userId].name}}
      <img class="close" src="assets/img/path.svg" (click)="closeModal('modal');" alt="close"/>
    </h1>
  </div>
  <div modal-body>
    <table>
      <tr>
        <td><input [readOnly]="true" [value]="users[userId].fname" class="div-td"/></td>
        <td><input [readOnly]="true" [value]="users[userId].name" class="div-td"/></td>
        <td><input [readOnly]="true" [value]="users[userId].mname" class="div-td"/></td>
      </tr>
      <tr>
        <td>
          <div class="div-td list-status-again">
            <span class="select" [textContent]="statuses[users[userId].status]"></span>
            <img src="assets/img/caret-down.svg" alt="arrow-img"/>
          </div>
        </td>
      </tr>
    </table>
    <button>Сохранить</button>
  </div>
</app-modal>

<div class="rectangle-shadow"></div>
