<div class="cards-container">
  <table id="users" class="user_table">
    <tr *ngFor="let user of users" class="row-padded">
      <td> <img [src]="user.avatar" alt="user-avatar" class="img-card"/> </td>
      <td class="user-info"><span>{{getFIO(user)}}</span></td>
      <td class="user-info balance-padding">
        {{ getBalance(user.balance | number:'1.2-2') }}
      </td>
      <td class="user-info last-update">
        {{ user.lastUpdatedAt}}
      </td>
    </tr>
  </table>
</div>

<div class="rectangle"></div>
