<div id="modal-container">
  <div class="modal">
    <div class="modal-body">
      <div class="modal-header">
        <h1>{{user.fname}} {{user.name}}</h1>
        <img class="close" src="../../../../../assets/img/path.svg" (click)="autoDestroy();" alt="close"/>
      </div>
      <div class="modal-bottom">
        <div class="modal-fields">
          <span class="modal-span" [textContent]="user.fname"></span>
          <span class="modal-span" [textContent]="user.name"></span>
          <span class="modal-span" [textContent]="user.mname"></span>
          <div class="modal-select">
            <app-dropdown-list [user]="user"></app-dropdown-list>
          </div>
        </div>
        <div class="modal-tools">
          <button class="modal-button">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</div>
